.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.header__link {
    display: none;
}

@media screen and (max-width: 550px) {
    .header__logo {
        vertical-align: baseline;
        height: 48px;
    }
    .header__title {
        font-size: 2em;
        vertical-align: baseline;
        width: 65%;
        text-align: center;
    }
    .header__menu {
        vertical-align: baseline;
        margin-right: auto;
    }
    .header__link {
        display: inline-block;
        text-decoration: none;
        color: #ddd;
        font-size: 2.5em;
        position: absolute;
        top: 6%;
        right: 3%;
    }
    .nav {
        z-index: 10;
        position: absolute;
        width: 300px;
        /* move drawer off canvas */
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
        /* ensure smooth transition */
        -webkit-transition: -webkit-transform 0.3s ease;
        transition: -webkit-transform 0.3s ease;
        transition: transform 0.3s ease;
        transition: transform 0.3s ease, -webkit-transform 0.3s ease;
        background: #fff;
    }
    nav.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .nav__item {
        display: list-item;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid #ddd;
    }
}

@media screen and (min-width: 551px) {
    .header__inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .hero {
        width: 60%;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .top-news {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 3;
    }
    .scores {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 4;
        width: 100%;
    }
    .weather {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        width: 40%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .recent-news {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }
}

@media screen and (min-width: 700px) {
    .hero {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: 50%;
    }
    .top-news {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        width: 50%;
    }
    .scores {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        width: 60%;
    }
    .weather {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
        width: 40%;
    }
    .weather__today {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media screen and (min-width: 850px) {
    .header__inner,
    .nav,
    main,
    footer {
        width: 850px;
        margin-left: auto;
        margin-right: auto;
    }
}
